.textRtl {
  text-align: right;
  margin-top: 5%;
}

.textCen {
  text-align: center;
}

.styleBox {
  margin: 1%;
}

.padRigLef {
  padding-left: 3%;
  padding-right: 3%;
}

.headTab {
  color: #ffffff;
  background-color: #26438e;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1%;
}

.listProducts {
  text-align: center;
  padding-top: 1.5%;
}
