body {
  background-color: #dce1f9;
}

.cardProduct {
  border-bottom: 2px solid rgb(247, 1, 1);
  padding: 2% 0;
  margin: 1% 0;
}

.divsBudgets {
  list-style-type: none;  
  padding: 0;
  margin: 0;
}
